/* Navigation Bar and Logo*/
.box1{
    height: 150px;
    width: 100%;
    background-color:white;

}

.tagline{
    font-family: 'Bebas Neue', cursive;
    color: black;
    float: right;
    margin-right: 550px;
    font-size: 70px;
    margin-bottom: 0px;

}

.logo {
    height: auto;
    width: 150px;

}

/* Nav Bar */

.navwrapper{
    height: 50px;
    width: 100%;
    margin-bottom: 100px;
    background-color: white;


}

.navlist > li {
    display: inline;
    font-family: 'Spectral SC', serif;
    padding: 20px;
    font-weight: 50px;

}

.navbar{
    width: 50%;
    float: left;
    position: absolute;
}

.navlist{
    margin-top: 0px;
    position: absolute;


}

.submenu{
    display: inline-grid;
    padding: 0px;


}

.submenu li{
    display: inline;
    background-color: white;
    padding: 10px;

}

.subMenuItem{
    display: none;
    border: 1px solid #4743;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

/* Navbar text Click and display behaviour */

a:link {
    color: #b21818;
    text-decoration: none;

}

a:visited {
    color: #4743;
    text-decoration: none;

}

a:hover {
    color: red;
    text-decoration: none;
}

a:active {
    color: dodgerblue;
    text-decoration: none;

}

/* Login/ Register */

.login {
    list-style: none;
    font-family: 'Spectral SC', serif;
    color: white;
    height: 5px;
    width: 15%;
    float: right;

}

.login li{
    display: inline;
    padding: 20px;
    margin-top: 0px;
}

/* Search Bar */

.searchbar {
    opacity: 0.5px;
    width: %;
    float: none;
}

.searchbar input {
    color: #b21818;
    opacity: 0.5px;
    font-family: 'Spectral SC', serif;
    font-size: 20px;
    border: 1px;
    border-color: black;
    border-style: solid;
    margin-top: 5px;
    height: 20px;
    width: 400px;
    padding: 10px;
    float: right;
}

.searchbaricon {
    height: 40px;
    margin-top: 5px;
    border: 1px;
    border-color: black;
    border-style: solid;
    background-color: #4743;
    float: right;
}

/* When moving the mouse over the close button */

.closebtn:hover {
    color: black;
}

/* Body */

body{
    background-color: #4743;
    margin: 0px;
}

.wrapper {
    background-color: white;
    max-width: 100%;
    height: auto;
    margin-left: 200px;
    margin-right: 200px;

}

#subwrapbox {
    height: 3200px;
    width: 100%;

}

#enchiheader {
    font-family: 'Bebas Neue', cursive;
    color: black;
    font-size: 60px;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 0;

}

#vidcontainer {
    height: auto;
    width: auto;
    max-width: 600px;

}

#enchivid {
    margin-left: 50px;
    float: left;
    height: 300px;
    width: 600px;

}

.macrocontain {
    height: auto;
    width: 20%;
    float: left;
    margin-left: 50px;
    margin-bottom: 50px;
    border-right: 1px solid black;


}

.macrohead {
    font-family: 'Bebas Neue', cursive;
    color: #b21818;
    font-size: 30px;
    margin-left: 40px;
    margin-bottom: 20px;

}

.macrosinfo {
    font-family: 'Spectral SC', serif;
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 50px;


}

.infocontainer {
    border-right: 1px solid black;
    height: auto;
    width: 20%;
    float: left;
    margin-left: 50px;

}

.cookinginfohead {
    font-family: 'Bebas Neue', cursive;
    color: #b21818;
    font-size: 30px;
    margin-left: 40px;
    margin-bottom: 20px;

}

.cookinginfo {
    font-family: 'Spectral SC', serif;
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 0px;


}

.ingredientshead {
    float: left;
    font-family: 'Bebas Neue', cursive;
    color: #b21818;
    font-size: 30px;
    margin-left: 40px;
    margin-bottom: 20px;

}

.ingredientscontain {
    border-right: 1px solid black;
    height: auto;
    width: 40%;
    float: left;
    margin-left: 50px;
    margin-bottom: 0px;

}

.ingredientsinfo {
    font-family: 'Spectral SC', serif;
    float: left;
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 0px;


}

.descriptioncontain {

    height: auto;
    width: 40%;
    float: left;
    margin-left: 50px;


}

.descrip {
    font-family: 'Spectral SC', serif;
    float: left;
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 10%;
    font-style: italic;

}

/* Social media share buttons for recipies */

.shareratecontain {

    height: auto;
    width: 40%;
    float: left;
    margin-left: 50px;


}

.reciby {
    font-family: 'Spectral SC', serif;
    float: left;
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 0px;

}

#terishareto {
    font-family: 'Bebas Neue', cursive;
    float: left;
    margin-left: 40px;
    margin-bottom: 0px;
    margin-top: 10px;
    margin-right: 10px;
    color: #b21818;

}

.terisharebtns {
    height: 35px;
    width: auto;
    float: left;
    margin-bottom: 0px;
    margin-left 10px;
    margin-right: 10px;
}

.raterecipehead {
    float: left;
    margin-right: 0px;
    margin-left: 135px;
    margin-top: 20px;
    margin-bottom: 0px;
    color: #b21818;
    font-family: 'Bebas Neue', cursive;

}

.reviewstars {
    float: left;
    height: 50px;
    width: auto;
    margin-top: 0px;
    margin-left: 0px;

}

#stepscontainer {
    height: auto;
    width: 50%;
    float: left;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

}

#step1head {
    font-family: 'Bebas Neue', cursive;
    float: left;
    margin-left: 40px;
    margin-bottom: 0px;
    margin-top: 50px;
    margin-right: 10px;
    color: #b21818;
    font-size: 30px;


}

#step1desc {
    font-family: 'Spectral SC', serif;
    float: left;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 0px;

}

#step2head {
    font-family: 'Bebas Neue', cursive;
    float: left;
    margin-left: 40px;
    margin-bottom: 0px;
    margin-top: 50px;
    margin-right: 10px;
    color: #b21818;
    font-size: 30px;

}

#step2desc {
    font-family: 'Spectral SC', serif;
    float: left;
    font-size: 15px;
    margin-bottom: 0px;
    margin-top: 20px;

}

#step3head {
    font-family: 'Bebas Neue', cursive;
    float: left;
    margin-left: 40px;
    margin-bottom: 0px;
    margin-top: 50px;
    margin-right: 10px;
    color: #b21818;
    font-size: 30px

}

#step3desc {
     font-family: 'Spectral SC', serif;
    float: left;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 0px;


}

#step4head {
    font-family: 'Bebas Neue', cursive;
    float: left;
    margin-left: 40px;
    margin-bottom: 0px;
    margin-top: 50px;
    margin-right: 10px;
    color: #b21818;
    font-size: 30px;

}

#step4desc {
     font-family: 'Spectral SC', serif;
    float: left;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 50px;


}

/* Footer */

.footer {
    margin-top: 200px;
    height: 100px;
    background-color: white;
    width: 100%;
    float: left;

}

/* Social media buttons Footer */

.social {
    float: right;
    width: 50px;
    height: 50px;
    padding: 10px;

}
