/* Navigation Bar and Logo*/
.box1{
    height: 150px;
    width: 100%;
    background-color:white;

}

.tagline{
    font-family: 'Bebas Neue', cursive;
    color: black;
    float: right;
    margin-right: 550px;
    font-size: 70px;
    margin-bottom: 0px;

}

.logo {
    height: auto;
    width: 150px;

}

/* Nav Bar */

.navwrapper{
    height: 50px;
    width: 100%;
    margin-bottom: 100px;
    background-color: white;


}

.navlist > li {
    display: inline;
    font-family: 'Spectral SC', serif;
    padding: 20px;
    font-weight: 50px;

}

.navbar{
    width: 50%;
    float: left;
    position: absolute;
}

.navlist{
    margin-top: 0px;
    position: absolute;


}

.submenu{
    display: inline-grid;
    padding: 0px;


}

.submenu li{
    display: inline;
    background-color: white;
    padding: 10px;

}

.subMenuItem{
    display: none;
    border: 1px solid #4743;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

/* Navbar text Click and display behaviour */

a:link {
    color: #b21818;
    text-decoration: none;

}

a:visited {
    color: #4743;
    text-decoration: none;

}

a:hover {
    color: red;
    text-decoration: none;
}

a:active {
    color: dodgerblue;
    text-decoration: none;

}

/* Login/ Register */

.login {
    list-style: none;
    font-family: 'Spectral SC', serif;
    color: white;
    height: 5px;
    width: 15%;
    float: right;

}

.login li{
    display: inline;
    padding: 20px;
    margin-top: 0px;
}

/* Search Bar */

.searchbar {
    opacity: 0.5px;
    width: %;
    float: none;
}

.searchbar input {
    color: #b21818;
    opacity: 0.5px;
    font-family: 'Spectral SC', serif;
    font-size: 20px;
    border: 1px;
    border-color: black;
    border-style: solid;
    margin-top: 5px;
    height: 20px;
    width: 400px;
    padding: 10px;
    float: right;
}

.searchbaricon {
    height: 40px;
    margin-top: 5px;
    border: 1px;
    border-color: black;
    border-style: solid;
    background-color: #4743;
    float: right;
}

/* When moving the mouse over the close button */

.closebtn:hover {
    color: black;
}

/* Body */

body{
    background-color: #4743;
    margin: 0px;
}

.wrapper {
    background-color: white;
    max-width: 100%;
    height: auto;
    margin-left: 200px;
    margin-right: 200px;

}

#subwrapbox {
    height: 3000px;
    width: 100%;

}

#exerciseplanhead {
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
    text-align: center;

}

#workoutplannerinfo {
    font-family: 'Spectral SC', serif;
    font-size: 18px;
    margin-left: 20%;
    margin-right: 20%;

}


#workoutbox {
    height: auto;
    width: 50%;
    border: 2px solid black;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;


}




/* Footer */

.footer {
    margin-top: 200px;
    height: 100px;
    background-color: white;
    width: 100%;
    float: left;

}

/* Social media buttons Footer */

.social {
    float: right;
    width: 50px;
    height: 50px;
    padding: 10px;

}
