/* Navigation Bar and Logo*/
.box1{
    height: 150px;
    width: 100%;
    background-color: black;
    border: 20px;
    border-color:
}

.tagline{
    font-family: 'Bebas Neue', cursive;
    color: #E96C00;
    float: right;
    margin-right: 550px;
    font-size: 70px;
    margin-top: 30px;

}

.logo {
    height: auto;
    width: 150px;
}

/* Nav Bar */

.box2{

    height: 50px;
    width: 100%;
    background-color: white;
    border: 2px;
    border-style: solid;
}

.topMenu li {
    display: inline;
    float: none;
    font-family: 'Spectral SC', serif;
    padding: 2px;
    width: 0px;
    font-weight: 50px;

}

.topMenu{
    width: 50%;
    float:left;
}

/* Nav Bar icons */

.homeicon {
    height: 20px;
    width: auto;

}

.recepieicon {
    height: 20px;
    width: auto;

}

.workouticon {
    height: 20px;
    width: auto;

}

.workoutplanicon {
    height: 20px;
    width: auto;

}

.contacticon {
    height: 20px;
    width: auto;

}

/* Navbar text Click and display behaviour */

a:link {
    color: #E96C00;
    text-decoration: none;

}

a:visited {
    color: green;
    text-decoration: none;

}

a:hover {
    color: red;
    text-decoration: none;

}

a:active {
    color: green;
    text-decoration: none;
}

/* Login/ Register */

.login {
    list-style: none;
    font-family: 'Spectral SC', serif;
    color: white;
    height: 25px;
    width: 20%;
    float: left;
}

.login li{
    display: inline;
    padding: 2px;
}

/* Login icons */

.loginicon {
    height: 25px;
    width: auto;
}

.signupicon {
    height: 25px;
    width: auto;
}

/* Search Bar */

.searchbar {
    opacity: 0.5px;
    width: 30%;
    float: left;
}

.searchbar input {
    color: #E96C00;
    opacity: 0.5px;
    font-family: 'Spectral SC', serif;
    font-size: 20px;
    border: 2px;
    border-color: black;
    border-style: solid;
    margin-top: 10px;
    height: 20px;
    width: 350px;
    float: left;
}

.searchbaricon {
    height: 30px;
    margin-top: 10px;
}

/* The alert message box */

.alert {
    padding: 20px;
    background-color: #E96C00;
    color: white;
    text-decoration-style: dashed;
    font-size: 20px;
    font-family: 'Spectral SC', serif;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    opacity: 0.7;
}

/* The close button */

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */

.closebtn:hover {
    color: black;
}

/* Body */

body{
    background-color: white;
    margin: 0px;
}

.wrapper {
    background-color: white;
    max-width: 100%;
    height: 1800px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
    box-shadow: 10px 10px 10px;
}

.beefheader {
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    text-decoration: underline;
    font-size: 40px;
}

/* Chilli Con Carne */

#box4 {
    background-color: antiquewhite;
    opacity: 0.7;
    height: 400px;
    width: 100%;
    margin-bottom:
}

.imgcontainer {
    overflow: hidden;
    height: 300px;
    width: 700px;
    margin-left: 100px;
    margin-top: 50px;
    border: 2px;
    border-style: solid;
    float: left;

}

.chillicon {
    height: 300px;
    width: auto;

}

.chilliheader {
    float: left;
    margin-left: 100px;
    margin-right: 250px;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
    font-weight: 200px;
    color: #E96C00;
}

.chillicondesc {
    float: left;
    list-style: none;
    font-family: 'Bebas Neue', cursive;
    margin-left: 60px;
}

.chilliconinfo {
    float: left;
    font-family: 'Spectral SC', serif;
    margin-left: 40px;
    margin-right: 100px;
    margin-bottom: 20px;
}

/* Chicken korma */

#box5 {
    background-color: antiquewhite;
    opacity: 0.7;
    height: 400px;
    width: 100%;
    margin-bottom: 50px;
}

.kormacontainer {
    overflow: hidden;
    height: 300px;
    width: 700px;
    margin-left: 100px;
    margin-top: 50px;
    border: 2px;
    border-style: solid;
    float: left;

}

#korma {
    height: 300px;
    width: auto;
    min-width: 700px;



}

#kormaheader {
    float: left;
    margin-left: 100px;
    margin-right: 250px;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
    font-weight: 200px;
    color: #E96C00;
}

#kormacondesc {
    float: left;
    list-style: none;
    font-family: 'Bebas Neue', cursive;
    margin-left: 60px;
}

.kormainfo {
    float: left;
    font-family: 'Spectral SC', serif;
    margin-left: 40px;
    margin-right: 100px;
    margin-bottom: 20px;
}

/* Footer */

.footer {
    margin-top: 200px;
    height: 100px;
    background-color: black;
    width: 100%;
    float: left;
}

/* Social media share buttons for recipies */

#shareto {
    font-family: 'Bebas Neue', cursive;
    float: left;
    margin-left: 900px;
}

.socialsharebtns{
    height: 40px;
    width: auto;
    float: left;

}

/* Social media buttons Footer */

.social {
    float: right;
    width: 50px;
    height: 50px;
    padding: 10px;
}
