/* Navigation Bar and Logo*/
.box1{
    height: 150px;
    width: 100%;
    background-color: black;
}

.tagline{
    font-family: 'Bebas Neue', cursive;
    color: #E96C00;
    float: right;
    margin-right: 550px;
    font-size: 70px;
    margin-top: 30px;
}

.logo {
    height: auto;
    width: 150px;
    margin-left: 200px
}

/* Nav Bar */

.topMenu li {
    display: inline;
    font-family: 'Spectral SC', serif;
    padding: 10px;
    width: 100%;
    font-weight: 50px;
}

/* Nav Bar icons */

.homeicon {
    height: 20px;
    width: auto;

}

.recepieicon {
    height: 20px;
    width: auto;

}

.workouticon {
    height: 20px;
    width: auto;

}

.workoutplanicon {
    height: 20px;
    width: auto;

}

.contacticon {
    height: 20px;
    width: auto;

}

/* Navbar text Click and display behaviour */

a:link {
    color: #E96C00;
    text-decoration: none;

}

a:visited {
    color: green;
    text-decoration: none;

}

a:hover {
    color: red;
    text-decoration: none;

}

a:active {
    color: green;
    text-decoration: none;
}

/* Search Bar */

.searchbar {
        float: right;
        color: #E96C00;
        opacity: 0.5px;
        font-family: 'Spectral SC', serif;
        font-size: 20px;
        border: 2px;
        border-color: black;
        border-style: solid;
        width: 400px;
}

.searchbaricon {
    height: 30px;
    width: auto;

}

/* Login/ Register */

.login {
    float: right;
    display: inline;
    list-style: none;
    font-family: 'Spectral SC', serif;
    color: white;
}

/* Login icons */

.loginicon {
    height: 30px;
    width: auto;
    margin-top:
}

.signupicon {
    height: 25px;
    width: auto;
    margin-top:
}

/* Body */

body{
    background-color: white;
}

.box2 {
    height: 100%;
    width: auto;
    margin-top: 40px;
    margin-right: 200px;
    margin-bottom: 40px;
    margin-left: 200px;
    border: 10px;
    border-color: white;
    font-size: 20px;
}

/*Register Form*/

.registerform {
    font-family: 'Bebas Neue', cursive;
    text-align: center;

}

.formheader {
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    text-decoration: underline;
}

.registerbenefits {
    list-style: circle;
    font-family: 'Spectral SC', serif;

}

.personalinfo {
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    text-decoration: underline;

}

.male, .female, .other, .fname,
.sname, .address1, .address2,
.town, .region, .postcode,
.connumber, .emailad, .username,
.pass1, .pass2, .submit {
    display: inline;
    width: 300px;
    padding: 10px;
    height: 20px;
    border: 10px;
    border-color: black;
    border-style: solid;
    font-family: 'Spectral SC', serif;
    text-align: center;
    margin-left: 20px
}

.logininfo {
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    text-decoration: underline;

}

/* Footer */

.footer {
    height: 100px;
    background-color: black;
    width: 100%;
}

.homeheader {
    font-family: 'Bebas Neue', cursive;
    color: #E96C00;
    width: 100%;
}

/* Social media buttons */

.social {
    float: right;
    width:50px;
    height:50px;
    padding: 10px;
}
