/* Navigation Bar and Logo*/
.box1{
    height: 150px;
    width: 100%;
    background-color: black;
    border: 20px;
    border-color:
}

.tagline{
    font-family: 'Bebas Neue', cursive;
    color: #E96C00;
    float: right;
    margin-right: 550px;
    font-size: 70px;
    margin-top: 30px;
}

.logo {
    height: auto;
    width: 150px;
    margin-left: 200px
}

/* The alert message box */

.alert {
    padding: 20px;
    background-color: #E96C00;
    color: white;
    text-decoration-style: dashed;
    font-size: 20px;
    font-family: 'Spectral SC', serif;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;

}

/* The close button */

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */

.closebtn:hover {
    color: black;
}

/* Nav Bar */

.topMenu li {
    display: inline;
    font-family: 'Spectral SC', serif;
    padding: 20px;
    width: 100px;
    font-weight: 50px;
}

/* Navbar text Click and display behaviour */

a:link {
    color: white;
    text-decoration: none;
    text-shadow: 100%;
}

a:visited {
    color: white;
    text-decoration: none;
    text-shadow: 100%;

}

a:hover {
    color: #E96C00;
    text-decoration: none;
    text-shadow: 100%;

}

a:active {
    color: #E96C00;
    text-decoration: none;
    text-shadow: 20px;
}

.searchbar {
        float: right;
        margin-right: 400px;
        color: #E96C00;
        background-color: black;
        opacity: 0.5px;
        font-family: 'Spectral SC', serif;
    font-size: 20px;
        border: 1px;
        border-color: white;
        border-style: solid;
}

/* Body */

body{
    background-color: black;
    background-image: linear-gradient(black, white);
}


/* Meats */

.box2 {

    height: 100%;
    width: auto;
    background-color: black;
    margin-top: 40px;
    margin-right: 100px;
    margin-bottom: 40px;
    margin-left: 100px;
}

.homeheader {
    font-family: 'Bebas Neue', cursive;
    color: yellow;

}

.about {
    font-family: 'Spectral SC', serif;

    color: white;

}

/* Footer */

.footer {
    height: 100px;
    background-color: black;
    width: 100%;

}
/* Social media buttons */

.social {
    float: right;
    width:50px;
    height:50px;
    padding: 10px;
}
