/* Navigation Bar and Logo*/
.box1{
    height: 150px;
    width: 100%;
    background-color: black;
    border: 20px;
    border-color:
}

.tagline{
    font-family: 'Bebas Neue', cursive;
    color: #E96C00;
    float: right;
    margin-right: 550px;
    font-size: 70px;
    margin-top: 30px;

}

.logo {
    height: auto;
    width: 150px;
    margin-left: 200px
}

/* Nav Bar */

.box2{

    height: 50px;
    width: 100%;
    background-color: white;
    border: 5px;
    border-style: solid;
}

.topMenu li {
    display: inline;
    float: none;
    font-family: 'Spectral SC', serif;
    padding: 2px;
    width: 0px;
    font-weight: 50px;

}

/* Nav Bar icons */

.homeicon {
    height: 20px;
    width: auto;

}

.recepieicon {
    height: 20px;
    width: auto;

}

.workouticon {
    height: 20px;
    width: auto;

}

.workoutplanicon {
    height: 20px;
    width: auto;

}

.contacticon {
    height: 20px;
    width: auto;

}

/* Navbar text Click and display behaviour */

a:link {
    color: #E96C00;
    text-decoration: none;

}

a:visited {
    color: green;
    text-decoration: none;

}

a:hover {
    color: red;
    text-decoration: none;

}

a:active {
    color: green;
    text-decoration: none;
}

/* Login/ Register */

.login {
    list-style: none;
    font-family: 'Spectral SC', serif;
    color: white;
    height: 25px;
    width: 10px;
}

/* Login icons */

.loginicon {
    height: 30px;
    width: auto;
    margin-top:
}

.signupicon {
    height: 25px;
    width: auto;
    margin-top:
}

/* Search Bar */

.searchbar {
    color: #E96C00;
    opacity: 0.5px;
    font-family: 'Spectral SC', serif;
    font-size: 20px;
    border: 2px;
    border-color: black;
    border-style: solid;
    width: 10px;
    height: 20px;





}

.searchbaricon {
    height: 30px;



}

/* The alert message box */

.alert {
    padding: 20px;
    background-color: #E96C00;
    color: white;
    text-decoration-style: dashed;
    font-size: 20px;
    font-family: 'Spectral SC', serif;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    opacity: 0.7;
}

/* The close button */

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */

.closebtn:hover {
    color: black;
}

/* Body */

body{
    background-color: white;

}

/* Meats */

.box3 {
    height: 100%;
    width: auto;
    background-color: black;
    margin-top: 40px;
    margin-right: 100px;
    margin-bottom: 40px;
    margin-left: 100px;
}

#steak {
    height: auto;
    width: 300px;
    float: left;
}

#chicken{
    height: auto;
    width: 300px;
    float: left;

}

#turkey {
    height: auto;
    width: 300px;

}

/* Footer */

.footer {
    height: 100px;
    background-color: black;
    width: 100%;
}

.homeheader {
    font-family: 'Bebas Neue', cursive;
    color: #E96C00;
    width: 100%;
}

/* Social media buttons */

.social {
    float: right;
    width:50px;
    height:50px;
    padding: 10px;
}
