/* Navbar Click and display behaviour */

.box1{
    height: 200px;
    width: 100%;
    border: solid;
    border-color: #000000;
    background-color: black;
}

body{
    margin: 0px;
}

.logo {
    height: auto;
    width: 200px;
    float: left;
}

.tagline{
    color:red;
    float: left;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: #4A688A;
    text-decoration: none;

}

a:hover {
    color: #532B72;
    text-decoration: none;
}

a:active {
    color: #4A688A;
    text-decoration: none;
}

/* Navigation Bar */


.topMenu{
    list-style-type: none;
    padding: 2px;
    overflow: hidden;
    background-color: #6A6B6C;
    border-color: white;
    border-style: solid;
    margin-top: -20px;
    margin-left: -20px;

}

.topMenu li {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    text-decoration-style: wavy;
    padding: 20px;
    border: 0px;
    border-style: solid;
    width: 100px;
    color: #294F6D;
    font-weight: 50px;
    opacity: 100%;
}

/* Social media buttons */

.social {
    float: right;
    width:50px;
    height:50px;
    padding: 10px;
}


.box2 {
    border: 2px;
    border-style: solid;
    margin-top: 100px;
    height: 600px;
    background-color: white;
    margin: 0px;
    padding: 0px;
}

.footer {
    border: 2px;
    border-style: solid;
    height: 100px;
    background-color: blue;

}
