/* Navigation Bar and Logo*/
.box1{
    margin-bottom: auto;
    height: 150px;
    width: 100%;
    background-color: black;
}

.logo {
    height: auto;
    width: 150px;
    float: left;
}
/* Header robs health and fitness website */

.header{
    color: white;
    text-align: center;
    margin-left: 200px;
    font-family: 'Spectral SC', serif;
}

.tagline{
    font-family: 'Spectral SC', 'Extra-light 200', serif;
    color: white;
    text-align: center;


}

/* The alert message box */

.alert {
    padding: 20px;
    background-color: #E96C00;
    color: white;
    text-decoration-style: dashed;
    font-size: 22px;
    font-family: 'Spectral SC', serif;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    opacity: 0.7;
}

/* The close button */

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */

.closebtn:hover {
    color: black;
}
/* Nav Bar */

.topMenu li {
    display: inline;
    font-family: 'Spectral SC', serif;
    padding: 20px;
    width: 100px;
    font-weight: 50px;
}

/* Navbar text Click and display behaviour */

a:link {
    color: white;
    text-decoration: none;
    text-shadow: 100%;
}

a:visited {
    color: white;
    text-decoration: none;
    text-shadow: 100%;

}

a:hover {
    color: darkgrey;
    text-decoration: none;
    text-shadow: 100%;

}

a:active {
    color: red;
    text-decoration: none;
    text-shadow: 20px;
}

/* Body */

body{
    background-color: darkgrey;
}

/* Meats */

.box2 {

    height: 100%;
    width: auto;
    background-color: white;
}

.steak  {
    float: right;
    height: 450px;
    width: 450px;
}

 .chicken  {

    height: 400px;
    width: 450px;

}
.turkey {

    height: 450px;
    width: auto;
}
/* Footer */

.footer {
    height: 100px;
    background-color: black;
    width: 100%;

}
/* Social media buttons */

.social {
    float: right;
    width:50px;
    height:50px;
    padding: 10px;
}
