/* Navbar Click and display behaviour */

a {
    color: #294F6D;
    text-decoration: none;
}

a:link {
    color: #294F6D;
    text-decoration: none;
}

a:visited {
    color: #4A688A;
    text-decoration: none;
}

a:hover {
    color: #532B72;
    text-decoration: none;
}

a:active {
    color: #4A688A;
    text-decoration: none;
}

/* Navigation Bar */

nav ul{
    list-style-type: none;
    margin: 20px;
    padding: 2px;
    overflow: hidden;
    background-color: white;
}

nav li {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    text-decoration-style: wavy;
    padding: 20px;
    border: 5px;
    border-style: solid;
    border-color: white;
    width: 100px;
    color: #294F6D;
}

/* Social media buttons */

#facebook-logo, #twitter-logo,
#instagram-logo, #snapchat-logo
        {
    float: right;
    width:70px;
    height:70px;
}

.box2 {
    height: 1800px;
    width: 800px;
    padding: 150px;
    margin-left: 400px;
    margin-right: 400px;
    background-color: white;
    border: 20px;
    border-style: double;
    border-color: black;

}

.box3 {
    height: 400px;
    width: 800px;
    padding: 150px;
    background-color: white;
    margin-left: 400px;
    margin-top: 50px;
    float: left;
    border-style: solid;
}

body {
    background-color: #294F6D;
    border: 30px;
    border-style:ridge;
    border-color: black;
}